<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login | KTF Blog</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="container" style="margin-left:240px;">
    <h2 class="mt-4">Iniciar Sesión</h2>
    <form th:action="@{/security/login}" method="post">
        <div class="mb-3">
            <label>Correo</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label>Contraseña</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
