<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.0/font/bootstrap-icons.css}">
</head>
<body>

<div class="side-navbar" th:fragment="navbar">
  <a class="brand" th:href="@{/}">KTF Blog</a>

  <a th:href="@{/profile/}" th:if="${session.loggedInUser != null}">
    <i class="bi bi-person"></i> Mi Perfil
  </a>

  <a th:href="@{/posts}">
    <i class="bi bi-journal-text"></i> Posts Recientes
  </a>

  <a href="#">
    <i class="bi bi-search"></i> Buscar
  </a>

  <a th:href="@{/security/login}" th:if="${session.loggedInUser == null}">
    <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
  </a>

  <a th:href="@{/security/register}" th:if="${session.loggedInUser == null}">
    <i class="bi bi-person-plus"></i> Registrarse
  </a>

  <a th:href="@{/security/logout}" th:if="${session.loggedInUser != null}">
    <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
  </a>
</div>

</body>
</html>
